body {
  background-color: #DAE5D0;



}

h1 {
  color: #ED9728;
  font-style: oblique;

}
.p1{
  font-style:italic;
}

hr {
  border-color: #5E5E5E;
  border-width: 3px;
  width: 5%;
  border-style: none;
  border-top-style: dotted;
  height: 2px;
}
ol{
  color:#5B7DB1;

}
ul{
  color: black;

}

img {
  height: 300px;
}
table{
  background-color: #E0D8B0;
}
#heading {
  color:#040303;
}
